{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    </head>
    <body>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        
        {% comment %} <h1>Portfolio<h1>  {% endcomment %}

        {% comment %} <div class="logo-container">

            <img class="logo" src="media/logo.png" alt="Логотип"> 

        </div> {% endcomment %}

        <header>
            <div class="top-nav">
                <ul>
                    <div class="nav-info">
                        <li><a href="#">О нас</a></li>
                        <li><a href="{% url 'create_project' %}">Создать Проект</a></li>
                        <li><a href="project_rec/">Интересные проекты</a></li>
                    </div>
                    <div class="log-nav">
                        {% if request.user.is_authenticated %}
                        <li><a class="reg_nav" href="{%url 'logout'%}">Logout</a></li>
                        {%else%}
                        <li><a class="reg_nav" href="{%url 'login'%}">Login</a></li>
                    
                            <li><a class="reg_nav" href="{%url 'register'%}">Register</a></li>
                        {%endif%}
                    </div>
                    {% if user.is_authenticated %}
                        <p class="welcome">Welcome, {{ user.username }}!</p>
                    {% else %}
                        <p class="Log-info">Not logged in, please login or register!</p>
                    {% endif %}    
                </ul>
                
            </div>         
        </header>

        <div class="content">
            <h1>Portfolio</h1>
            <h2>Добро пожаловать на наш сайт</h2>
            <p>Наш сайт был создан для новичков програмистов которые хотят показать свои проеты</p>
            <p>Здесь вы можете загрузить свой код и оставить на хранение либо сделать его публичным и показать его другим програмистам.</p>
            <ul>
                <li>Хранение</li>
                <li>Публикация в сеть</li>
                <li>Поист нужно вам кода для испольшование его в своих целях</li>
            </ul>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>