body {
    background-color: #FAF0E6;
}

.top-nav {
    background-color: #333;
    /* Цвет фона панели */
    color: #fff;
    /* Цвет текста */
    padding: 10px 0;
    /* Отступы сверху и снизу */
    text-align: right;
    /* Выравнивание текста вправо */
}

.top-nav ul {
    list-style-type: none;
    /* Убирает маркеры списка */
    padding: 0;
}

.top-nav ul li {
    display: inline;
    /* Размещает элементы списка в строку */
    margin-right: 20px;
    /* Отступы между пунктами меню */
}

.top-nav ul li a {
    text-decoration: none;
    /* Убирает подчеркивание у ссылок */
    color: #fff;
    /* Цвет текста ссылок */
    font-weight: bold;
    /* Жирный шрифт */
    font-size: 18px;
    /* Размер текста */
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    /* Выравнивание текста по правому краю */
}

.content h2 {
    font-size: 24px;
    color: #333;
}

.content p {
    font-size: 16px;
    color: #666;
}

.content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.content ul li {
    font-size: 14px;
    color: #888;
}

.content h1 {
    font-size: 35px;
    color: #8ea185;
}