body {
    background-color: rgb(44, 28, 9);
    padding: 0;
}


/* Стилізація списку навігації */

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


/* Стилізація пунктів списку (лінків) */

.nav-links li {
    margin-right: 20px;
}


/* Стилізація лінків */

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}